body{
    background:linear-gradient(97deg, #9198e5, #e66465);
}
footer{
    display: flex;
    justify-content: center;
    padding: 10%;
    font-family: cursive;
    font-size: larger;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
li{
    padding: 2%;
    background-color: #9198e5;
    border-radius: 15%;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: #3b44ac;
}